In [2]:
%run Preprocessing_main.ipynb

In [3]:
check_na(ROY_dict)
check_na(DPOY_dict)
check_na(MVP_dict)

1999:0 2000:0 2001:0 2002:0 2003:0 2004:0 2005:0 2006:0 2007:0 2008:0 2009:0 2010:0 2011:0 2012:0 2013:0 2014:0 2015:0 2016:0 2017:0.0 2018:0 2019:0
1999:0 2000:0 2001:0 2002:0 2003:0 2004:0 2005:0 2006:0 2007:0 2008:0 2009:0 2010:0 2011:0 2012:0 2013:0 2014:0 2015:0 2016:0 2017:0.0 2018:0 2019:0
1999:0 2000:0 2001:0 2002:0 2003:0 2004:0 2005:0 2006:0 2007:0 2008:0 2009:0 2010:0 2011:0 2012:0 2013:0 2014:0 2015:0 2016:0 2017:0.0 2018:0 2019:0

In [4]:
MVP_data.head()

,G_x,MP_x,PTS,TRB,AST,STL,BLK,FG%,3P%,FT%,...,TOV%,USG%,OWS,DWS,OBPM,DBPM,BPM,VORP,year_y,Share
0,79,40.0,29.7,13.6,3.8,0.5,3.0,0.574,0.000,0.524,...,9.9,31.2,11.7,7.0,6.2,3.5,9.7,9.3,1999-2000,0.998
1,81,40.0,22.9,11.8,5.0,1.5,1.6,0.497,0.370,0.765,...,13.6,27.4,6.1,5.6,3.1,3.0,6.1,6.6,1999-2000,0.337
2,79,34.8,21.7,9.5,1.6,0.5,3.7,0.551,0.000,0.711,...,13.1,28.1,7.3,5.6,1.7,2.9,4.6,4.6,1999-2000,0.303
3,82,35.9,25.5,9.5,3.7,1.0,0.9,0.509,0.250,0.797,...,11.4,31.9,10.7,4.5,5.2,1.7,6.9,6.6,1999-2000,0.258
4,74,38.9,23.2,12.4,3.2,0.9,2.2,0.490,0.091,0.761,...,13.5,28.7,6.7,6.4,2.6,3.5,6.1,5.9,1999-2000,0.205

In [6]:
MVP_data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 292 entries, 0 to 11
Data columns (total 32 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   G_x      292 non-null    object
 1   MP_x     292 non-null    float64
 2   PTS      292 non-null    float64
 3   TRB      292 non-null    float64
 4   AST      292 non-null    float64
 5   STL      292 non-null    float64
 6   BLK      292 non-null    float64
 7   FG%      292 non-null    float64
 8   3P%      292 non-null    float64
 9   FT%      292 non-null    float64
 10  WS_x     292 non-null    float64
 11  WS/48_x  292 non-null    float64
 12  PER      292 non-null    float64
 13  TS%      292 non-null    float64
 14  3PAr     292 non-null    float64
 15  FTr      292 non-null    float64
 16  ORB%     292 non-null    float64
 17  DRB%     292 non-null    float64
 18  TRB%     292 non-null    float64
 19  AST%     292 non-null    float64
 20  STL%     292 non-null    float64
 21  BLK%     292 non-null    float64
 22  TOV%     292 non-null    float64
 23  USG%     292 non-null    float64
 24  OWS      292 non-null    float64
 25  DWS      292 non-null    float64
 26  OBPM     292 non-null    float64
 27  DBPM     292 non-null    float64
 28  BPM      292 non-null    float64
 29  VORP     292 non-null    float64
 30  year_y   292 non-null    object
 31  Share    292 non-null    float64
dtypes: float64(30), object(2)
memory usage: 75.3+ KB